@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  text-decoration: none;
}
body {
	background: rgb(0,152,182);
background: linear-gradient(149deg, rgba(0, 152, 182, 0.499) 0%, rgba(20, 77, 162, 0.795) 73%, rgba(80, 73, 208, 0.499) 92%);
	font-family: 'Muli', sans-serif;
}

#backimg {
  height: 25vh;
  width: 100%;
  position: relative;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
  position: relative;
}

.welcome{
  position: absolute;
  top: 8%;
  bottom: 90%;
  left: 32vw;
  right : 32vw;
  font-weight: 900;
  transform: translate(0%, -10%);
  font-size: 1.2rem;
  text-align : center;
  font-family: 'Libre Baskerville', serif;
  
}
.logo{
  position: absolute;
  top: 8px;
  left: 16px;
  display : flex;
}
.subtitle{
  position: absolute;
  top: 15%;
  bottom:78%;
  left:25vw;
  font-weight : 600;
  font-size: 0.8rem;
  font-family: 'Libre Baskerville', serif;
  
}
.coursecontainer{
  height : 75vh;
  width : 100%;
}
.coursetext {
padding :10px;
}
.coursetext > h2{
font-size: 1.2rem;
}


.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 92%;
	height : 25vh;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin-top: 5px;
	margin-bottom : 0px;
}

.course-preview {
	background-color: #045942;
	color: #fff;
	padding: 30px;
	max-width: 160px;
}

.course-preview-two
{
	background-color:rgb(190, 154, 6);
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 10px;
	opacity: 0.6;
	margin-top: 20px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	padding-top: 5px;
	padding-left : 20px;
	position: relative;
	width: 100%;
}
.course-info > h3 ,.course-info > h5 {
  color : black;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}
.btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 6px;
	padding: 12px 25px;
	position: absolute;
	bottom: -6px;
	right: 22px;
	letter-spacing: 1px;
	max-width :80px;
}
/*footer design start*/
:root{
    --theme-col: #2d4bf0;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
footer{
    background-color: #1d1240;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
}
.f-item-con{
    padding: 1.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
}
footer .app-name{
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}
.app-name .app-initial{
    color: var(--theme-col);
}
footer .app-info p{
    color: white;
    padding-left: 1.65rem;
}

footer .footer-title{ 
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    height: fit-content;
}
footer ul{ 
    padding-left: 1.75rem;
    color: white;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem;
    margin-top: .5rem;
}
footer ul li{ 
    margin: .25rem 0;
    cursor: pointer;
    color: #d4d4d4;
    width: fit-content;
}
footer ul li:hover{
    color: white;
}

/*footer design end*/